node_modules

package-lock.json
pnpm-lock.yaml
pnpm-lock.yml
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.cache
.env
.vercel
.output

/build/
/public/build
/api/index.js
/api/index.js.map

*.db
/prisma/data.db
/prisma/data.db-journal
.env

wireguard.conf
fly_backup*.db

.yarn/install-state.gz
