@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --musy: 24 22% 86%;
    --musy-50: 26 23% 88%;
    --musy-100: 26 18% 85%;
    --musy-200: 22 12% 82%;
    --musy-300: 24 16% 81%;
    --musy-400: 26 14% 78%;
    --musy-500: 0 0% 6%;
    --musy-600: 60 2% 11%;
    --musy-700: 60 3% 8%;
    --musy-800: 0 0% 7%;
    --musy-900: 0 6% 3%;

    /* shadcn-ui */
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: var(--musy-900);
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --radius: 0.4rem;
  }
}

@layer base {
  * {
    @apply box-border min-w-0;
  }

  html {
    font-family: 'Montserrat', system-ui, sans-serif;
  }

  body {
    @apply bg-musy-900 text-foreground;
    min-height: 100dvh;
    /* font-feature-settings:
      "rlig" 1,
      "calt" 1; */
  }

  p {
    @apply text-pretty;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-balance;
  }
}

.stack {
  @apply flex flex-col;
}

.stack-1 {
  @apply flex flex-col space-y-1;
}

.stack-2 {
  @apply flex flex-col space-y-2;
}

.stack-3 {
  @apply flex flex-col space-y-3;
}

.stack-h-1 {
  @apply flex items-center space-x-1;
}

.stack-h-2 {
  @apply flex items-center space-x-2;
}

.stack-h-3 {
  @apply flex items-center space-x-3;
}

*::-webkit-scrollbar {
  background: transparent;
  height: 2px;
  width: 3px;
}

*::-webkit-scrollbar-thumb {
  background: hsl(var(--musy));
}

*::-webkit-scrollbar-track {
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
