@import "./components/icons/waver-styles.css" layer(base);

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-background: hsl(var(--background));
  --color-border: hsl(var(--border));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-foreground: hsl(var(--foreground));
  --color-input: hsl(var(--input));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-ring: hsl(var(--ring));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  :root {
    --background: 359 8% 3%;
    --foreground: 0 0% 89%;
    --card: 240 4.9% 7%;
    --card-foreground: 0 0% 85%;
    --popover: 243 11% 4%;
    --popover-foreground: 40 22% 97%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 30 0% 11%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 10%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 10.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --radius: 0.7rem;
  }
}

@layer utilities {
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}

@layer base {
  /* * {
    @apply box-border;
  } */

  html {
    font-family: "IBM Plex Mono", system-ui, sans-serif;
    font-size: 15px;
  }

  /* body {
    @apply bg-background text-foreground;
    min-height: 100dvh;
  } */

  /* ul,
  p {
    @apply text-pretty select-none md:select-text;
  } */

  /* img {
    @apply select-none;
  } */
  /* 
  h1,
  h2,
  h3,
  h4 {
    @apply text-balance;
  } */
}
