body::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #050404;
}

body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 2px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
}
